/.RData
/.R_outbreak-info-token
/.Rhistory
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/stat project.iml
/.idea/vcs.xml
/.raw data/BPFeatureToMetadata.dbf
/raw data/Trans_AirportPoint.dbf
/raw data/Trans_AirportPoint.prj
/raw data/Trans_AirportPoint.shx
/raw data/Trans_RoadSegment_0.dbf
/raw data/Trans_RoadSegment_0.prj
/raw data/Trans_RoadSegment_0.shx
/raw data/Trans_RoadSegment_1.dbf
/raw data/Trans_RoadSegment_1.prj
/raw data/Trans_RoadSegment_1.shx
/raw data/IL_BNDY_County/IL_BNDY_County.txt
/raw data/IL_BNDY_County/IL_BNDY_County.xml
/raw data/IL_BNDY_County/IL_BNDY_County_Ln.bmp
/raw data/IL_BNDY_County/IL_BNDY_County_Ln.dbf
/raw data/IL_BNDY_County/IL_BNDY_County_Ln.prj
/raw data/IL_BNDY_County/IL_BNDY_County_Ln.sbn
/raw data/IL_BNDY_County/IL_BNDY_County_Ln.sbx
/raw data/IL_BNDY_County/IL_BNDY_County_Ln.shp
/raw data/IL_BNDY_County/IL_BNDY_County_Ln.shp.xml
/raw data/IL_BNDY_County/IL_BNDY_County_Ln.shx
/raw data/IL_BNDY_County/IL_BNDY_County_Ln.txt
/raw data/IL_BNDY_County/IL_BNDY_County_Py.bmp
/raw data/IL_BNDY_County/IL_BNDY_County_Py.dbf
/raw data/IL_BNDY_County/IL_BNDY_County_Py.prj
/raw data/IL_BNDY_County/IL_BNDY_County_Py.sbn
/raw data/IL_BNDY_County/IL_BNDY_County_Py.sbx
/raw data/IL_BNDY_County/IL_BNDY_County_Py.shp
/raw data/IL_BNDY_County/IL_BNDY_County_Py.shp.xml
/raw data/IL_BNDY_County/IL_BNDY_County_Py.shx
/raw data/IL_BNDY_County/IL_BNDY_County_Py.txt
/raw data/us-counties-2020.csv
/raw data/us-counties-2021.csv
/raw data/us-counties-2022.csv
/raw data/us-counties-2023.csv
/raw data/state level data/NHS/National_Highway_System_(NHS).cpg
/raw data/state level data/NHS/National_Highway_System_(NHS).dbf
/raw data/state level data/NHS/National_Highway_System_(NHS).prj
/raw data/state level data/NHS/National_Highway_System_(NHS).shp
/raw data/state level data/NHS/National_Highway_System_(NHS).shp.xml
/raw data/state level data/NHS/National_Highway_System_(NHS).shx
/raw data/state level data/NHS/highway_overlay_shp/seg_in_state.cpg
/raw data/state level data/NHS/highway_overlay_shp/seg_in_state.dbf
/raw data/state level data/NHS/highway_overlay_shp/seg_in_state.prj
/raw data/state level data/NHS/highway_overlay_shp/seg_in_state.shp
/raw data/state level data/NHS/highway_overlay_shp/seg_in_state.shx
/raw data/state level data/tl_2024_us_primaryroads/tl_2024_us_primaryroads.cpg
/raw data/state level data/tl_2024_us_primaryroads/tl_2024_us_primaryroads.dbf
/raw data/state level data/tl_2024_us_primaryroads/tl_2024_us_primaryroads.prj
/raw data/state level data/tl_2024_us_primaryroads/tl_2024_us_primaryroads.shp
/raw data/state level data/tl_2024_us_primaryroads/tl_2024_us_primaryroads.shp.ea.iso.xml
/raw data/state level data/tl_2024_us_primaryroads/tl_2024_us_primaryroads.shp.iso.xml
/raw data/state level data/tl_2024_us_primaryroads/tl_2024_us_primaryroads.shx
/raw data/state level data/tl_2024_us_state/tl_2024_us_state.cpg
/raw data/state level data/tl_2024_us_state/tl_2024_us_state.dbf
/raw data/state level data/tl_2024_us_state/tl_2024_us_state.prj
/raw data/state level data/tl_2024_us_state/tl_2024_us_state.shp
/raw data/state level data/tl_2024_us_state/tl_2024_us_state.shp.ea.iso.xml
/raw data/state level data/tl_2024_us_state/tl_2024_us_state.shp.iso.xml
/raw data/state level data/tl_2024_us_state/tl_2024_us_state.shx
