/.RData
/.R_outbreak-info-token
/.Rhistory
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/stat project.iml
/.idea/vcs.xml
/.raw data/BPFeatureToMetadata.dbf
